* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #0a6cff, #00a4ff, #00c8ea, #00e188, #a8eb12);
}

.nav-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-image: linear-gradient(to right top, #ff8500, #f89600, #f1a600, #e9b50d, #e0c323, #dfc728, #decc2d, #ddd032, #e4cd28, #ebca1e, #f2c711, #f9c300);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: white;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    width: 400px;
    height: 520px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    border-radius: 35px;
}



.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin: 1rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #b7b7bb;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .5rem;
    font-size: .9rem;
    color: white;
}

/*Login*/
#logint {
    display: none;
    background-color: red;
}

.logout {
    background-color: greenyellow;
    border-radius: 20px;
    display: none;
    padding: 5px;

}

/* cuentas */

#perfil-access {
    display: none;
}

.cuentas {
    background-color: greenyellow;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 50px;

}

.productosBancarios {
    background-color: rgb(0, 119, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center space-around;
    margin: 60px;
    padding: 15px;
}

.contactanos-informacion {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contactanos {
    padding: 40px;
}

.background1-left-column {
    background-color: linear-gradient(100deg, #21c8f6, rgb(199, 199, 199));
}

.background1-left-column {
    background-color: linear-gradient(100deg, #2196f6, rgb(156, 156, 156));
}

.iconos-redes {
    font-size: 25px;
    color: rgb(156, 156, 156);
    font-weight: bold;
}

/*HEADER*/

header .barra-menu {
    border-radius: 80px;
    margin: 30px 30px 30px 30px;
}

header nav div .logo {
    width: 150px;
    height: 150px;
}

.logo-marmol {
    justify-content: left;
    margin-right: 60px;
    height: 125px;
    height: 125px;
}

footer .barra-menu {
    border-radius: 80px;
    margin: 30px 30px 70px 30px;
}

/* index.html */
nav {
    position: center;
    height: 40%;
    padding: 5px 40px 5px 40px;
}

nav .carrusel {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.swiper {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    shadow: 5px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*App*/
.app-100 {
    font-size: 130px;
    font-family: 'Anton', sans-serif;
    font-style: italic;
}

.online-app {
    font-family: 'Anton', sans-serif;
    font-size: 180px;
    font-style: italic;
}

.container-app {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card-app {
    width: 100%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    background-image: linear-gradient(to top, #ffb100, #c1d136, #7ee57d, #2bf0c5, #00f4ff);
}

.card-app:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 9);
    transform: translateY(-3%);
}

.card-app img {
    width: 100%;
    height: 160px;
}

.card-app .contenido {
    padding: 14px;
    text-align: center;
}

.card-app .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card-app .contenido h2 {
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 22px;
}

.card-app .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-app .contenido a:hover {
    background-color: #2fb4cc;
    color: #fff;
}